<% layout('/layouts/boilerplate') -%>
  <body class="d-flex flex-column min-vh-100">
    
 
    <div class="row mt-3">
        <h1 class="col-6 offset-3"> Sign Up For StayNest</h1>
      <div class="col-8 offset-2">
    <form action="/signup" method="post" class="needs-validation " novalidate>
        <div class="mb-3">
      <label for="Username" class="form-label"> Username </label>
      <input name="username" placeholder="enter username" type="text"  class="form-control" required/>
      <div class="valid-feedback"> looks Good!</div>
      </div>

      <div class="mb-3">
      <label for="Email" class="form-label"> Email </label>
      <input name="email" placeholder="enter email" type="text"  class="form-control" required/>
      <div class="valid-feedback"> looks Good!</div>
      </div>

       <div class="mb-3">
      <label for="Password" class="form-label"> Password </label>
      <input name="password" placeholder="enter password" type="text"  class="form-control" required/>
      <div class="valid-feedback"> looks Good!</div>
      </div>

      <button class="btn btn-success"> Sign Up </button>

    </form>

        </div>
        </div>

         </body>